{{- bos_token -}}
{%- macro render_parts(content) -%}
{%- if content is string -%}{{- content -}}
{%- else -%}
{%- for part in content -%}
{%- if part['type'] == 'image' -%}{{- '<|image|>' -}}
{%- elif part['type'] == 'video' -%}{{- '<|video|>' -}}
{%- elif part['type'] == 'text' -%}{{- part['text'] -}}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endmacro -%}
{%- set ns = namespace(has_system=false) -%}
{%- for m in messages -%}{%- if m['role'] == 'system' -%}{%- set ns.has_system = true -%}{%- endif -%}{%- endfor -%}
{%- if add_generation_prompt and not ns.has_system -%}
{{- '<|start|>system<|message|>You are a helpful assistant.<|eot|>' -}}
{%- endif -%}
{%- for message in messages -%}
{%- set role = message['role'] -%}
{%- if role == 'assistant' -%}
{%- set recipient = message.get('recipient') -%}
{%- set end_turn = message.get('end_turn') -%}
{%- if end_turn is none -%}
{%- set end_turn = not (recipient and recipient != 'user') -%}
{%- endif -%}
{{- '<|start|>assistant' -}}
{%- if recipient -%}{{- ' to=' + recipient -}}{%- endif -%}
{{- '<|message|>' -}}{{- render_parts(message['content']) -}}
{{- ('<|eot|>' if end_turn else '<|eom|>') -}}
{%- elif role == 'tool' -%}
{%- set name = message.get('name', '') -%}
{{- '<|start|>tool ' + name + '<|message|>' -}}{{- render_parts(message['content']) -}}
{{- '<|eot|>' -}}
{%- else -%}
{%- set header = role -%}
{%- if message.get('name') -%}{%- set header = role + ' ' + message['name'] -%}{%- endif -%}
{{- '<|start|>' + header + '<|message|>' -}}{{- render_parts(message['content']) -}}
{{- '<|eot|>' -}}
{%- endif -%}
{%- endfor -%}
{%- if add_generation_prompt -%}{{- '<|start|>assistant' -}}{%- endif -%}
