--extra-index-url https://download.pytorch.org/whl/cpu 
langchain_community
langchain_cohere
openai
cohere
sentence_transformers
faiss-cpu
unstructured
langchain-openai
langchain
langchainhub
ipywidgets
numpy<2.0
