.venv
.venv-style
**/.venv
.pytest_cache
.devcontainer
.vscode
.vs
.idea
.gdb_history
out
bazel-bin
bazel-model_server/
bazel-openvino-model-server/
bazel-out
bazel-ovms
bazel-ovms-c
bazel-testlogs
demos/continuous_batching
demos/embeddings
demos/common/export_models/models
*.log
*.img
models
