.venv
.pytest_cache
.devcontainer
.vscode
.vs
.idea
.gdb_history
version
__pycache__/
report.json
trace.json
bazel-bin
bazel-out
bazel-ovms
bazel-ovms-c
bazel-testlogs
__pycache__
.workspace
*user_config*
*.swp
dist/
lib/
!client/python/ovmsclient/lib
cppclean_src
cppclean_test
tags
