--extra-index-url https://download.pytorch.org/whl/cpu 
git+https://github.com/huggingface/optimum-intel.git
# Optimum here is needed to download the model
onnx
openvino
nncf==2.7.0
einops==0.7.0
transformers_stream_generator==0.0.4
tiktoken==0.5.2
