boto3==1.33.13
checksec-py==0.7.4
cohere==5.11.3
dataclasses-json==0.6.3
docker==7.1.0
filelock==3.13.1
gitpython==3.1.49
grpcio==1.60.0
jiwer>=4.0.0
jsonschema==4.24.0
openai==2.26.0
opencv-python==4.8.1.78
paramiko==3.4.0
Pillow>=10.2.0
protobuf<=5.29.6
psutil==5.9.6
pyyaml==6.0.3
pytest==9.0.2
setuptools==81.0.0
soundfile>=0.13.1
requests==2.32.4
requests-toolbelt==1.0.0
retry==0.9.2
tensorflow-serving-api==2.16.1; python_version >= "3.12"
tensorflow-serving-api<=2.13.1,>=2.10.1; python_version < "3.12"
tensorflow==2.16.1; python_version >= "3.12"
tensorflow<=2.13.1,>=2.10.1; python_version < "3.12"
tritonclient[all]==2.40.0
