--extra-index-url "https://download.pytorch.org/whl/cpu"
--extra-index-url "https://storage.openvinotoolkit.org/simple/wheels/nightly"
--extra-index-url "https://storage.openvinotoolkit.org/simple/wheels/pre-release"
--pre
optimum-intel@git+https://github.com/huggingface/optimum-intel.git@3b2cffb40c3de6bd3bf90c1e8a98d902e87db80d
openvino-tokenizers==2025.2.0.0rc2
openvino==2025.2.0rc2
nncf>=2.11.0 
sentence_transformers
openai 
transformers<4.52
einops
torchvision
timm==1.0.15
diffusers==0.33.1  # for image generation
