--extra-index-url "https://download.pytorch.org/whl/cpu"
optimum-intel@git+https://github.com/huggingface/optimum-intel.git@2ca7f8bb09d536c0b6136830dfe31c7fefe14701
accelerate
datasets
diffusers  # for image generation
einops
nncf@git+https://github.com/openvinotoolkit/nncf.git@33992f3974cf84b8e68a74a97c1731f0435550a0
numpy
openvino-tokenizers==2026.1.0.0
openvino==2026.1.0
pillow
sentence_transformers
sentencepiece  # Required by: transformers`
timm==1.0.22
torchvision
torch==2.9.1+cpu
transformers<4.58
