futures==3.1.1
opencv-python>=4.8.1.78
tensorflow-serving-api==2.16.1; python_version >= "3.12"
tensorflow==2.16.1; python_version >= "3.12"
tensorflow-serving-api<=2.13.1,>=2.11; python_version < "3.12"
tensorflow<=2.13.1,>=2.11; python_version < "3.12"
numpy<2.0.0
