version: 2.0

jobs:
  style:
    docker:
      - image: circleci/python:3.6.6-jessie-browsers
    steps:
      - checkout
      - run: make style
  unit_tests:
    docker:
      - image: ubuntu:16.04
        environment:
          PYTHONPATH: /opt/intel/openvino/python/python3.5
          LD_LIBRARY_PATH: >-
            /opt/intel/openvino/deployment_tools/inference_engine/external/tbb/lib:/opt/intel/openvino/deployment_tools/inference_engine/external/mkltiny_lnx/lib:/opt/intel/openvino/deployment_tools/inference_engine/lib/intel64:/opt/intel/openvino/deployment_tools/ngraph/lib
    environment:
      TEMP_DIR: /tmp/openvino_installer
    steps:
      - checkout
      - run:
          name: Install openvino
          command: >-
            mkdir -p $TEMP_DIR &&
            cd $TEMP_DIR &&
            apt-get update &&
            apt-get install -y --no-install-recommends cpio wget cpio cmake sudo python3-pip python3-venv python3-dev python3-setuptools virtualenv build-essential &&
            wget -c $OPENVINO_DOWNLOAD_LINK_2020_1 &&
            tar xf l_openvino_toolkit*.tgz &&
            cd l_openvino_toolkit* &&
            sed -i 's/decline/accept/g' silent.cfg &&
            sed -i 's/COMPONENTS=DEFAULTS/COMPONENTS=intel-openvino-base__noarch;intel-openvino-dldt-base__noarch;intel-openvino-setupvars__noarch;intel-openvino-eula__noarch;intel-openvino-ie-sdk-ubuntu-xenial__x86_64;intel-openvino-ie-bin-python-tools-ubuntu-xenial__x86_64;intel-openvino-ie-samples__x86_64;intel-openvino-ie-rt__x86_64;intel-openvino-ie-bin-3rd-debug__x86_64;intel-openvino-ie-rt-core-ubuntu-xenial__x86_64;intel-openvino-ie-rt-cpu-ubuntu-xenial__x86_64;intel-openvino-ie-rt-gpu-ubuntu-xenial__x86_64;intel-openvino-ie-rt-vpu-ubuntu-xenial__x86_64;intel-openvino-ie-rt-gna-ubuntu-xenial__x86_64;intel-openvino-ie-rt-hddl-ubuntu-xenial__x86_64;intel-openvino-omz-tools__x86_64;intel-openvino-docs__noarch;intel-openvino-gfx-driver-ubuntu-xenial__x86_64;intel-openvino-base-pset/g' silent.cfg &&
            ./install.sh -s silent.cfg --ignore-signature
      - run:
          name: Install ie-serving-py
          command: make install
      - run:
          name: run unit tests
          command: make unit
      - run:
          name: check coverage
          command: make coverage
  functional_tests_bin:
    machine:
      enabled: true
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Build docker image
          command: make docker_build_bin dldt_package_url=${OPENVINO_DOWNLOAD_LINK_2020_1}
      - run:
          name: Get Google Cloud credentials
          command: echo "${GOOGLE_KEY}" | base64 -d > ${GOOGLE_APPLICATION_CREDENTIALS}
      - run:
          name: Start functional tests
          command: pyenv global 3.5.2 && make test
  functional_tests_apt_ubuntu:
    machine:
      enabled: true
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Build docker image
          command: make docker_build_apt_ubuntu
      - run:
          name: Get Google Cloud credentials
          command: echo "${GOOGLE_KEY}" | base64 -d > ${GOOGLE_APPLICATION_CREDENTIALS}
      - run:
          name: Start functional tests
          command: pyenv global 3.5.2 && make test
  functional_tests_src_intelpython:
    machine:
      enabled: true
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Build docker image
          command: make docker_build_src_intelpython
      - run:
          name: Get Google Cloud credentials
          command: echo "${GOOGLE_KEY}" | base64 -d > ${GOOGLE_APPLICATION_CREDENTIALS}
      - run:
          name: Start functional tests
          command: pyenv global 3.5.2 && make test
  functional_tests_clearlinux:
    machine:
      enabled: true
    resource_class: medium
    steps:
      - checkout
      - run:
          name: Build docker image
          command: make docker_build_clearlinux
      - run:
          name: Get Google Cloud credentials
          command: echo "${GOOGLE_KEY}" | base64 -d > ${GOOGLE_APPLICATION_CREDENTIALS}
      - run:
          name: Start functional tests
          command: pyenv global 3.5.2 && make test
workflows:
  version: 2
  build-and-deploy:
    jobs:
      - unit_tests
      - style
      - functional_tests_bin
      - functional_tests_apt_ubuntu
      - functional_tests_src_intelpython
      - functional_tests_clearlinux
      
