# Note that using unreleased optimum from master might not work.
# git+https://github.com/huggingface/optimum-intel.git
# Optimum here is needed to download the model
onnx
nncf
openvino
optimum[diffusers,openvino]
