--extra-index-url "https://download.pytorch.org/whl/cpu"
--extra-index-url "https://storage.openvinotoolkit.org/simple/wheels/nightly"
--pre
openvino==2025.3.*
numpy<2.0
transformers==4.53.0
pillow==10.3.0
torch==2.8.0+cpu
