--extra-index-url https://download.pytorch.org/whl/cpu 
git+https://github.com/huggingface/optimum-intel.git@7114900cd3d80fdfc6bc18aff1d016bd6b626e31
# Optimum here is needed to download the model
onnx==1.16.0
openvino==2024.1.0
nncf==2.10.0
einops==0.7.0
transformers_stream_generator==0.0.4
tiktoken==0.5.2
transformers==4.40
bitsandbytes==0.43.0
accelerate==0.27.2
datasets==2.18.0
setuptools==69.5.1