# Copyright (c) 2026 Intel Corporation
# Preserve upstream patch context and raw SSE framing without whitespace rewriting.
dependencies/*.patch -text whitespace=-blank-at-eol,-blank-at-eof
evidence/tools/*-response.txt -text whitespace=-blank-at-eol,-blank-at-eof
