#
# Copyright (c) 2021 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
global
    daemon

defaults
    log global
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    option http-use-htx
    mode http

frontend grpc_workload
    bind *:11886 proto h2
    default_backend grpc_serving

frontend rest_workload
    bind *:11887 proto h2
    default_backend rest_serving

frontend common_stats
    bind *:11888
    stats enable
    http-request use-service prometheus-exporter if { path /metrics }
    stats uri /
    mode http

backend grpc_serving
   server grpc_server {{server_address}}:{{grpc_port}} proto h2

backend rest_serving
   server rest_server {{server_address}}:{{rest_port}} proto h2
